# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# python virtual environment
venv/
.venv/
env/

# flask
instance/
.webassets-cache

# OS files
.DS_Store
Thumbs.db

# IDE / editor
.vscode/
.idea/

# logs
*.log